<ion-view view-title="Dig in">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">fdklfjdkl</div>
      <div class="item item-body">
        <div>
         dfsdfsfs <b>sfsdfs 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Hesdfsdfalth</div>
      <div class="item item-body">
        <div>
          You ate sdfsdfay!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcomsdfsdfsdfing</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings ofsdfsdfsf
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
