  <ion-list>
                          <ion-item  on-release="onRelease($event , item)" ng-click='showEditScreen(item)' on-drag="draggingg($event , item )" on-hold="longPressed($event , item )"  data-zone="z4" data-id="{{item.id}}" data-parent="{{item.parent}}" ng-repeat="item in selected_item_z3"   class="listitemcss listitem btn btn-primary"    >
                       
                        {{item.name}}
                          </ion-item>
                            <ion-item ng-show="z4parent"  class="listitemcss" ng-click="addNewItem(  'z4')" id="add_item" >Add Item</ion-item>
                        </ion-list>


                    