          <ion-list>
              <ion-item data-zone="z2" ng-click='showEditScreen(item)' on-release="onRelease($event , item)"  on-drag="draggingg($event , item )" on-hold="longPressed($event , item )" data-id="{{item.id}}" data-parent="{{item.parent}}" ng-repeat="item in selected_item_z1"   class="listitemcss listitem btn btn-primary"     >
             
             {{item.name}}
              </ion-item>
                <ion-item ng-show="handle.z1childparent" class="listitemcss" ng-click="addNewItem( 'z2')" id="add_item" >Add Item</ion-item>
            </ion-list>


